* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
/* styles defilement image pour selection  */

 #slider {
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

/* Image principale */
#slider img {
  width: 100%;
  border-radius: 10px;
}

/* Conteneur des miniatures en ligne */
.thumbs {
  display: flex;          /* Alignement horizontal */
  justify-content: center;
  gap: 10px;              /* Espace entre les images */
  margin-top: 10px;
}

/* Miniatures */
.thumbs img {
  width: 60px;
  height: 60px;
  object-fit: cover;      /* Pour éviter les déformations */
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.6;
  transition: 0.2s;
}

/* Effet hover */
.thumbs img:hover {
  opacity: 1;
}
/* --- NAVIGATION --- */

nav {
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  background: #333;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.2s;
}

nav a:hover {
  background: #555;
}
